* {
  transition-duration: 0.3s;
  transition-property: color, opacity, background-color, border-color;
  animation-timing-function: ease-in-out;
  outline: none;
  box-sizing: border-box;
}
html body {
  min-width: 300px;
  font-family: 'PT Sans', Tahoma, serif;
  padding: 0;
  margin:0;
  font-size: 16px;
  color: @text-color;
  background: #fff;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  background: @background-gray;
}
a {
  color: @text-main-color;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
.outer_wrapper {
  width: 100%;
  padding-top: 69px;
}
.wrapper{
  padding: @content-pading;
  margin: 0 0 0 280px;
  max-width: none;
  box-shadow: none;
  min-height: ~"calc(100vh - 138px)";
  box-sizing: border-box;
  background: #fff;
}
body.centered .wrapper {
    margin: 0 auto;
    max-width: @big-block-width;
}
body.page-main .wrapper {
  margin: 0 auto;
  padding: @content-pading_min;
  max-width: 820px;
}
.wrapper:not(._no-padding) .content_minus {
  background: @background-gray;
  margin: 0 -@content-pading;
}
.wrapper._no-padding {
  padding: 0;
}
.wrapper._grey {
  background: @background-gray;
}
.error {
  color: @text-color-red;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn, a.btn, .form_button, a.form_button {
  color: #fff;
  background: @main-color;
  padding: 0 15px;
  line-height: 36px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  &.big {
    line-height: normal;
    padding: 25px 15px;
    font-size: 20px;
  }
  &.red {
    background: @background-red;
  }
  &._grey {
    background: @background-gray1;
  }
  &.right {
    float:right;
  }
  &.block {
    display: block;
  }
  &.load, &.load:hover {
    background: @background-gray;
    opacity: 1;
    cursor: default;
  }
  &.load .t {
    display: none;
  }
  &.load .l {
    display: block;
  }
  .l {
    display: none;
    text-align: center;
    margin: 0 auto;
  }
  &._cancel_form {
    float:left;
    width:50%;
    max-width:120px;
    padding-left: 10px;
    padding-right: 10px;
  }
  &._save_form {
    float:right;
    width:50%;
    padding-left: 10px;
    padding-right: 10px;
    max-width:120px;
  }
  &:hover {
    opacity: 0.8;
  }
}
#ui-datepicker-div {
  z-index: 999!important;
}
.alerts {
  .item {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    float: left;
    clear: left;
    border: solid 1px #acdab4;
  }
}
.alerts::after {
  content: ' ';
  display: block;
  clear:both;
}
.term_privacy_text {
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
}
.soc_icons {
  font-size: 36px;
  padding-bottom: 30px;
  text-align: center;

  .item {
    border-right: solid 2px @text-color-grey;
    padding: 0 15px;
    height: 27px;
    font-size: 26px;
    text-align: center;
    color: @text-color-grey;
    cursor: pointer;
  }
  .item:hover {
    color: @text-color-grey_hover;
  }
  .item.vk {
    padding-left: 0;
  }
  .item.fb {
    border-right: none;
    padding-right: 0;
  }
  .item.vk i {
    font-size: 32px;
  }
  .item.fb i {
    font-size: 26px;
    position: relative;
    padding: 0 3px;
    top: 1px;
    width: 12px;
    text-align: left;
    font-weight: bold;
  }
  .item.inst i {
    font-size: 31px;
    position: relative;
    padding: 0 3px;
    top: 2px;
  }
}

h1.page_title {
  font-weight: normal;
  font-size: 24px;
  padding-bottom: 20px;
  margin: 0;
}
.table_out {
  overflow: auto;
}