.cropper_window {
  text-align:center;
  .controls {
    position: absolute;
    display: flex;
    z-index: 1;
    .item {
      width:35px;
      height:35px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 0;
      flex-shrink: 0;
      color:#fff;
      cursor: pointer;
      background: rgba(0,0,0,0.5);
      &[rel="rotate"] {
        div {
          font-weight: bold;
        }
      }
      &:hover {
        background: rgba(0,0,0,0.7);
      }
    }
  }
  .actions {
    position: relative;
    height:50px;
    display: flex;
    .item.form_button {
      margin: 0;
      cursor: pointer;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      color:#fff;
      font-size: 20px;
      background: rgba(0,0,0,0.5);
      &[rel="save"] {
        background: @main-color;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .cropper_image {
    max-height:500px;
    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 700px) , screen and (max-height: 700px) {
  .cropper_window {
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    .controls {
      flex-shrink: 0;
      flex-grow: 0;
    }
    .actions {
      flex-grow: 0;
      flex-shrink: 0;
      position: fixed;
      left: 0;
      width: 100%;
      bottom: 0;
    }
    .cropper_image {
      max-height: none;
      height:100%;
      flex-grow:1;
    }
  }
}

.image4crop {
  background-size: cover;
  background-repeat: no-repeat;
 /* background-position: center;*/
  max-width: 220px;
  height: 220px;
  flex-grow: 1;
  margin-bottom: 20px;
  .fogging {
    background-color: rgba(0, 0, 0, 0.47);
    width: 100%;
    height: 100%;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .icon_download {
      width: 100%;
      height: 100%;
      background-image: url("/images/svg_white/download.svg");
      background-size: 40px 40px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: 1s;
      &.load {
        background-image: url("/images/loader.svg");
        background-size: 70px 70px;
      }
      input {
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        opacity: 0;
      }
    }
  }
}