.footer {
  justify-content: center;
  height:69px;
  align-content: center;
  flex-wrap: wrap;
  display: none;
  .item {
    display: flex;
    align-content: center;
    margin: auto 20px;
    color: @text-color-grey;
  }
}
body.centered {
  display: flex;
}