.card_form {
  padding: 15px 0;
  background-color: transparent;
  border: none;
  h3 {
    margin: 0;
    padding: 0 0 20px 0;
  }
  &.t1in2 {
    float: left;
    width: calc(50% - 45px);
    margin-right: 10px;
    margin-top: 10px;
    min-width: 500px;
  }
  label .switchery {
    margin-right:10px;
  }
}
.form_item {
  padding-bottom: 10px;
  &:last-child {
    padding-bottom: 0;
  }
  .item_desc {
    margin-bottom: 10px;
    font-size: 14px;
  }
  input[type="text"].form_control, input[type="password"].form_control, select.form_control {
    width: 100%;
    margin-bottom: 10px;
  }
  .select2 {
    margin-bottom: 10px;
  }
  input[type="number"]{
    width: 100px;
    padding: 0 0 0 10px;
    line-height: 26px;
    box-sizing: border-box;
    margin-bottom: 10px;
    &.price:after{
      content: "руб.";
    }
  }
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  label.form_control {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .form_data {
    margin-bottom: 10px;
    &._user {
      display: flex;
      align-items: center;
      margin-top: 8px;
      text-decoration: none;
      color: @text-color;
      &:hover {
        opacity: 0.8;
      }
      .img {
        width:40px;
        height:40px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/images/user_noimg_50.png');
        border-radius: 100%;
        margin-right: 10px;
      }
      .info {
        .date {
          color: @text-color-grey;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  body .card_form.t1in2 {
    width:auto;
    float:none;
    margin-right:0;
  }
}