header{
  color: #fff;
  background-color: @main-color;
  box-shadow: 0 0 10px #999;
  position: fixed;
  top:0;
  width:100%;
  box-sizing: border-box;
  align-items: stretch;
  z-index: 4;
  .in_header {
    display: flex;
    height: 69px;
    margin: 0 auto;
  }
  .show_menu {
    display: none;
    padding: 0 20px;
    justify-content: left;
    align-items: center;
    &:hover{
      background-color: @main-color_hover;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    width: 280px;
    height: 100%;
    margin: auto 0;
    flex-shrink: 0;
    flex-grow: 0;
    color: #fff;
    font-size: 39px;
    .ripple-content {
      display:flex;
      align-items: center;
      flex-direction: column;
    }
    .name {
      line-height: 34px;
    }
    .title {
      font-size: 14px;
    }
    &:hover{
      background-color: @main-color_hover;
    }
  }
  a.vk {
    width: 96px;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 60px;
    .vk-place {
      position: absolute;
      background-color: @main-color ;
      width: 84px;
      height: 72px;
      display: block;
      color: #fff;
      box-shadow: 0 0 15px 8px rgba(49, 49, 49, 0.1);
      font-size: 58px;
      text-align: center;
      line-height: 60px;
      flex-grow: 0;
      transition: background .2s;
    }
    .vk-place:hover {
      background-color: @main-color_hover;
      color: #fff;
    }
  }

  .user {
    margin: 0 0 0 auto;
    flex-grow: 0;
    color: #fff;
    display: flex;
    align-items: stretch;
    .ripple-content {
      display: flex;
      align-items: stretch;
    }
    &:hover{
      background-color: @main-color_hover;
    }
    .info {
      padding: 0 0 0 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      cursor: pointer;
      font-size: 22px;
      color:#fff;
      .position {
        font-size: 16px;
      }
    }
    .avatar{
      padding: 0 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .img {
        height: 54px;
        width: 54px;
        border-radius: 50px;
        background-position: center center;
        background-size: cover;
        background-image: url('/images/user.svg');
      }
    }
    .money{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      transition: background-color 0.5s;
      cursor: pointer;
      color: #fff;
      &:hover{
        background-color: @main-color_hover;
      }
      .count{
        font-size: 48px;
        text-align: center;
        margin-right: 10px;
        padding-bottom: 2px;
      }
      .label{
        font-size: 18px;
        text-align: center;
        line-height: 1;
        .icon {
          display: block;
          font-size: 38px;
          line-height: 18px;
          height: 22px;
        }
      }
      .money:hover{
        background-color: @main-color_hover;
      }
    }
    .login {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 20px;
      padding: 0 @content-pading;
      text-align: center;
      &:hover{
        background-color: @main-color_hover;
      }
    }
  }
}
body.centered {
  .main_menu{
    display: none;
  }
}
.overflow_menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(214, 214, 214, 0.8);
}
.main_menu{
  position: fixed;
  z-index: 3;
  overflow-y: auto;
  padding-top: 69px;
  left:0;
  width: 280px;
  box-sizing: border-box;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 10px #999;
  display: flex;
  flex-direction: column;
  .items{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    .item{
      display: flex;
      align-items: center;
      font-size: 20px;
      color: @main-color;
      text-align: center;
      padding: 15px 20px;
      flex-direction: row;
      justify-content: flex-start;
      height: auto;
      flex-grow: 0;
      flex-shrink: 0;
      .ripple-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
      }
      .icon {
        font-size: 20px;
        padding-right: 10px;
        padding-top: 2px;
        width: 30px;
        text-align: left;
      }
      .title {
        margin: 0;
        &.nomargin {
          margin-top: 0;
        }
      }
      &.active {
        background-color: #f7f7f7;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.219607);
      }
      &:hover {
        background-color: #f7f7f7;
        transition-property: all;
        * {
          color: @main-color;
        }
      }
    }
  }
  .menu_footer {
    padding-top: 20px;
    margin: auto 0 10px 0;
    flex-shrink: 0;
    flex-grow: 0;
    .curs {
      margin: 20px;
      display: flex;
      color: @main-color;
      font-size: 18px;
      &_item {
        &.or {
          flex-grow: 1;
          display: flex;
          align-content: center;
          justify-content: center;
          padding: 0 20px;
          div {
            margin: auto;
          }
        }
        &:last-child {
          text-align: right;
        }
      }
    }
    .item {
      font-size: 14px;
      display: block;
      padding: 5px 20px;
      line-height: 16px;
      color: @text-color-grey;
      &:hover {
        color: @text-color-grey_hover;
      }
    }
  }
}
body.full_width {
  .wrapper{
    margin: 0 auto;
    max-width: @big-block-width;
  }
  .main_menu {
    margin-left: -300px;
  }
}
.nav-icon {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  transition: all .2s ease-in-out;
}
.nav-icon:after,
.nav-icon:before,
.nav-icon span  {
  display: block;
  transition: all .2s ease-in-out;
  content: '';
  margin: 10px 0;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;

}


.nav-icon.active:before {
  transform: translateY(13px) rotate(135deg);
}
.nav-icon.active:after {
  transform: translateY(-13px) rotate(-135deg);
}

.nav-icon.active span {
  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
}

.mobile_head() {
  body .wrapper:not(._no-padding) {
    padding: 20px @content-pading_min;
    .content_minus {
      margin: 0 -@content-pading_min;
    }
  }
  body.centered {
    .main_menu {
      display: flex;
    }
    .footer {
      display: none;
    }
  }
  body .main_menu, header .logo {
    width:auto;
  }
  .main_menu, body.full_width .main_menu {
    margin-left: -300px;
    transition-property: margin;
    &.show{
      margin-left: 0;
    }
  }
  html body .outer_wrapper .wrapper {
    margin-left: 0;
  }
  header {
    .show_menu {
      display: flex;
    }
    .logo {
      flex-grow: 1;
      justify-content: flex-start;
    }
    a.vk {
      display: none;
    }
    .user .money {
      display: none;
    }
  }
}
body.page-main {
  .mobile_head();
  header .logo {
    padding-left: 10px;
    justify-content: flex-start;
  }
}
@media screen and (max-width:900px) {
  .mobile_head();
  header .logo {
    padding-left: 10px;
    justify-content: flex-start;
  }
  header .user .info {
    display:none;
  }
}
@media screen and (max-width: 500px) {
  header .logo .name {
    line-height: 22px;
    font-size: 25px;
  }
  html body header .logo .ripple-content {
    align-items: flex-start;
  }
  header .in_header {
    height: 50px;
    .nav-icon {
      width:30px;
    }
  }
  header .user .avatar .img {
    width:36px;
    height:36px;
  }
  header {
    .show_menu {
      padding: 0 @content-pading_min;
    }
    .user {
      .login, .avatar, .money {
        padding: 0 @content-pading_min;
      }
    }
  }
  .outer_wrapper {
    padding-top: 50px;
  }
}