textarea, input, select{
  &:not([type="file"]),
  &:not([type="checkbox"]),
  &:not([type="button"]),
  &:not([type="hidden"]),
  &:not([type="image"]),
  &:not([type="radio"]),
  &:not([type="reset"]),
  &:not([type="submit"]) {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 9px;
    font-size: 16px;
    transition: border linear.2s, box-shadow linear.2s;
    &.no_write {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 5px rgba(255, 128, 128, 0.6);
    }
    &:focus {
      outline: 0;
      border-color: @main-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(73, 197, 150, 0.6);
    }
  }
  .datepicker {
    text-align: center;
  }
  .disabled {
    background: @background-gray;
  }
}
