.window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.8);
  z-index: 902;
  display: none;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  &.mini .inner_content {
    max-width: 400px;
  }
  &.static {
    display: block;
    .inner_content {
      h2 {
        text-align: center;
        padding-right: 0;
        border-bottom: none;
      }
      .close {
        display: none;
      }
    }
  }
  .loader {
    text-align: center;
  }
  .inner_content {
    background-color: #fff;
    max-width: 700px;
    width:100%;
    margin: 0 auto;
    box-shadow: 0 0 15px #222;
    z-index: 901;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    &._center {
      text-align: center;
    }
    &::after {
      content: ' ';
      display: block;
      clear: both;
    }
    .window_content {
      &._center {
        text-align: center;
      }
      &::after {
        content: ' ';
        display: block;
        clear: both;
      }
    }
    h2 {
      font-size: 20px;
      line-height: 28px;
      text-align: left;
      border-bottom: solid 1px #cccccc;
      margin: 0 0 10px 0;
      padding: 0 40px 12px 0;
      font-weight: normal;
    }
    h3 {
      font-weight: normal;
      margin: 15px 0;
      font-size: 18px;
    }
    .close {
      width:0;
      height: 0;
      float:right;
      font-family: 'Linearicons-Free' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      font-size: 28px;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      cursor: pointer;
      &::before {
        height: 28px;
        width: 28px;
        display: flex;
        float:right;
        justify-content: center;
        align-items: center;
        content: "\e934";
      }
    }
    .inner_ok {
      display: none;
    }
  }
  .window_result {
    display:none;
  }
}
@media screen and (max-width: 580px) {
  .window .inner_content {
    max-width:100%;
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
    }
  }
}