.list_items {
  padding: 10px 0;
  .item {
    margin: 5px 0;
    padding: 15px;
    display: block;
    border:solid 1px @border-gray;
    background: #fbfbfb;
    &:hover {
      opacity: 0.8;
    }
  }
}