.Shield.LineItems {
  .items_finder {
    .item_finder_types {
      margin-top: 10px;
      display: flex;
      .tab {
        border-radius: 4px;
        padding: 2px 4px;
        border: solid 1px @main-color;
        cursor: pointer;
        margin: 0 2px;
        color: @main-color;
        &:hover {
          background: #eef2ff;
        }
        &.active {
          background: @main-color;
          color: #fff;
        }
      }
    }
    .item_finder_tabs {
      display: flex;
      .tab {
        border-radius: 4px;
        padding: 2px 4px;
        border:solid 1px @main-color;
        cursor: pointer;
        margin: 0 2px;
        color: @main-color;
        &:hover {
          background: #eef2ff;
        }
        &.active {
          background: @main-color;
          color: #fff;
        }
      }
    }
    &.grouped {
      .items_finder_group {
        &._big {
          align-items: stretch;
          .item_finder {
            display: flex;
          }
          .form_button {
            margin-left: 0;
          }
        }
      }
    }
  }
  .items {
    .item {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      &:hover {
        background: @background-gray;
        box-shadow: 0 0 4px #cccccc;
      }
      &[rel="none"] {
        .commands .btn {
          background: #008000;
        }
      }
      &[rel="out"] {
        .commands .btn {
          background: @background-gray;
          color: @text-color-grey;
          cursor: default;
          &:hover {
            background: @background-gray1;
            opacity: 1;
          }
        }
      }
      .item_inner {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5px 0 5px 10px;
        flex-basis: 180px;
        .title {
          font-size: 20px;
          display: flex;
          align-items: center;
        }
        .phone {
          margin-top: 5px;
          font-size: 16px;
          .icon-phone-handset {
            font-size: 14px;
          }
        }
      }
      .right_item {
        display: flex;
        flex-grow: 1;
        flex-basis: 200px;
        justify-content: space-between;
      }
      .company {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        .img {
          width: 35px;
          height: 35px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('/images/user_noimg_50.png');
          border-radius: 100%;
          margin-right: 10px;
        }
        .info {
          .ititle {
            font-size: 14px;
            color: @text-color-grey;
          }
          .iname {

          }
        }
      }
      .commands {
        display: flex;
        .btn {
          flex-grow: 1;
          display: flex;
          align-items: center;
          padding-left: 10px;
          padding-right: 10px;
          min-width: 100px;
          text-align: center;
          justify-content: center;
          margin-left: 5px;
        }
        .status {
          font-size: 14px;
          text-align: right;
          color: @text-color-grey;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 2px 5px;
        }
      }
    }
  }
}
@media screen and (max-width:900px) {
  html body.page-main .outer_wrapper .wrapper {
    margin: 0 auto;
  }
}
@media screen and (max-width:400px) {
  .LineItems.Shield .items .item {
    .item_inner {
      .title {
        font-size: 16px;
      }
    }
    .company .img {
      display: none;
    }
  }
}
@media screen and (max-width: 800px) {
  .LineItems.Shield .items .item {
    padding-right: 0;
    .item_inner {
      padding-left: 0;
      padding-right: 0;
      .title {
      }
    }
  }
}