.StaffAdmin_Edit {
  max-width: 400px;
}
.StaffAdmin {
  .add_place {
    display: flex;
    .btn {
      margin-left: 10px;
    }
  }
  .form_item .select2 {
    margin-bottom: 0;
  }
  .items {
    .item {
      cursor: pointer;
    }
  }
}