/* tables */
table.table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 20px;
  width:100%;
  font-size: 18px;
  word-wrap: break-word;
}
table.table thead a {
  color: #fff;
}
body table.mini {
  font-size:16px;
}
body table.mini td {
  padding: 5px 7px;
}
body table.mini1 {
  font-size:15px;
}
body table.mini1 td, body table.mini1 th{
  padding: 2px 15px;
  line-height:normal;
}
.table th.empty { background: #fff; }

.table tr.empty:hover th.empty { background: #fff; }

.table th {
  background-color: #fff;
  padding: 4px 10px;
  color: #38C;
  font-weight: bold;
  text-align: left;
}

.table tbody tr {
  font-weight: normal;
  background-color: #fefefe;
}
.table.table_info {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.table th.gray {
  background: #eee;
  color:#000;
  padding: 10px 5px;
}
.table.table_info tbody tr {
  font-weight: normal;
  background-color: #fdfdfd;
}
.table.table_info tbody tr:hover {
  background-color: #fdfdfd;
}
.table tbody tr:hover {
  background-color: #fafafa;
}
.table td {
  padding: 9px 10px;
  border-left: #E4E4E4 1px solid;
  border-top: #E4E4E4 1px solid;
  border-bottom: #E4E4E4 1px solid;
  line-height: 20px;
}
.table tr td:last-child {
  border-right: #E4E4E4 1px solid;
}
.table.x2 td {
  border-left: #E4E4E4 3px solid;
  border-top: #E4E4E4 3px solid;
  border-bottom: #E4E4E4 3px solid;
}

.table.table-bordered th,
.table.table-bordered td {
  border-right: 1px solid #dddddd;
}
.table.table-bordered.x2 th,
.table.table-bordered.x2 td {
  border-right: 3px solid #dddddd;
}
.table.table-bordered th:last-child {
  border-right:none;
}
.table td.edited {
  padding:0 5px;
}
.table tr.selected, tr.selected1 {
  cursor:pointer;
}
.tablee textarea,
.tablee input[type="text"],
.tablee input[type="password"],
.tablee input[type="datetime"],
.tablee input[type="datetime-local"],
.tablee input[type="date"],
.tablee input[type="month"],
.tablee input[type="time"],
.tablee input[type="week"],
.tablee input[type="number"],
.tablee input[type="email"],
.tablee input[type="url"],
.tablee input[type="search"],
.tablee input[type="tel"],
.tablee input[type="color"] {
  width: 100%;
}
/* end-tables */