@main-color: #3D8AD4;
@main-color_hover: #339BE6;
@text-main-color: #4D7198;

@text-color: #333;
@text-color-red: #7f0003;
@text-color-grey: #7f7f7f;
@text-color-blue: #3D8AD4;
@text-color-grey_hover: #979797;

@content-pading: 40px;
@content-pading_min: 10px;

@border-black:#333;
@border-gray: #e5e5e5;
@border-gray-bold: #b9b9b9;
@border_hover: #7f7f7f;

@background-gray: #f7f7f7;
@background-gray1: #b5b5b5;
@background-gray_hover: #dcdcdc;
@background-gray_hover1: #f4f4f4;
@background-red: #a00000;
@background-red_hover: #ae0000;

@big-block-width: 1170px;
@medium-block-width: 700px;

