/*!
* Author: Antonio Dal Sie
* Name: ng-ripple
* Description: Material ripple effects for angularjs
*/
.ripple-cont{
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-decoration: none;
	overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.ripple-cont.r-round{
    min-width: 56px;
    min-height: 56px;
    line-height: 56px;
}

.ripple-cont.r-card{
	padding: 0;
	width: 100%;
}

.ripple-cont.r-full{
	width: 100%;
}

.ripple-cont.r-icon{
	padding: 8px;
	line-height: 1;
	min-height: 15px;
	min-width: 15px;
	background-color: transparent;
}

.ripple-cont.r-icon:hover{
	background-color: transparent;
}
.ripple-cont.r-icon:active{
	background-color: transparent;
}

.ripple-cont.r-raised{
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.ripple-cont.r-raised:not(.disabled):active{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.ripple-cont.r-round,.ripple-cont.r-round .ripple-cont{
	border-radius: 50%;
	overflow: hidden;
}
.ripple-cont.r-round .ink-content{
	border-radius: 50%;
}

.ripple-cont.disabled{
	color: rgba(0,0,0,0.26) !important;
    cursor: default;
	background-color: transparent;
	box-shadow: none;
}
.ripple-cont.disabled:hover{
	background-color: transparent;
}
.ripple-cont.disabled:active{
	background-color: transparent;
}
.ripple-cont.r-raised.disabled{    
	background-color: rgba(0,0,0,0.12) !important;
	box-shadow: none;
}
.ripple-cont .ripple-content{
	position: relative;
	z-index: 2;
	display:inline-block;
	max-width: 100%;
	vertical-align: top;
}
.ripple-cont .ink-content{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1;
	width: 100%;
	background-clip: padding-box;
	background-color: transparent;
	/* overflow: hidden; */
	-moz-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC");
	-o-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC");
	-webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC");
	mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC");
	border-radius: 2px;
	pointer-events: none;
	transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1) 0ms;
}
.ripple-cont.r-overink > .ink-content{
	display: none;
	z-index: 3;
	transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1) 0ms, z-index 1ms linear 0s;
}
.ink-content .ink, .ink-content .ink > i{
	display: block; position: absolute;
	border-radius: 100%;
	z-index: 10;
}
.ink-content .ink{
	-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
	will-change: transform, height, width;
}
.ink-content .ink > i{
	background: rgb(0,0,0);
	top: 0;
	left: 0;
	opacity:0;
	height: 100%;
	width: 100%;
	-webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
	will-change: transform, opacity;
}
.ripple-cont.r-icon .ink{
	top: 50%;
	left: 50%;
}
.ink-content .ink.animate, .ink-content .ink.animate > i{
    -webkit-transition: margin .9s cubic-bezier(.25,.8,.25,1),border .9s cubic-bezier(.25,.8,.25,1),width .9s cubic-bezier(.25,.8,.25,1),height .9s cubic-bezier(.25,.8,.25,1),opacity .9s cubic-bezier(.25,.8,.25,1),-webkit-transform .9s cubic-bezier(.25,.8,.25,1);
   	-moz-transition: margin .9s cubic-bezier(.25,.8,.25,1),border .9s cubic-bezier(.25,.8,.25,1),width .9s cubic-bezier(.25,.8,.25,1),height .9s cubic-bezier(.25,.8,.25,1),opacity .9s cubic-bezier(.25,.8,.25,1),-moz-transform .9s cubic-bezier(.25,.8,.25,1);
    transition: margin .9s cubic-bezier(.25,.8,.25,1),border .9s cubic-bezier(.25,.8,.25,1),width .9s cubic-bezier(.25,.8,.25,1),height .9s cubic-bezier(.25,.8,.25,1),opacity .9s cubic-bezier(.25,.8,.25,1),transform .9s cubic-bezier(.25,.8,.25,1);
}
.ink-content .ink.animate {
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.ink-content .ink.animate > i{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    transform:scale(1);
}